aside.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 300px;
  height: fit-content;
  border: 1px solid #e6ecf5;
  background-color: white;
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  aside.sidebar {
    display: none;
  }
}

aside.sidebar .menu {
  width: 300px;
  flex-grow: 1;

}

aside.sidebar .menu .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside.sidebar .menu .nav-list .nav-item {
  margin: 0;
  padding: 10px 10px 10px 25px;
  border-bottom: 2px solid #e4e8ee;
  transition: 0.4s;
}
aside.sidebar .menu li.nav-item:first-child {
  background-color: white;
}
aside.sidebar .menu li.nav-item:first-child:hover {
  background-color: white;
}
aside.sidebar .menu .nav-list .nav-item:hover {
  margin: 0;
  padding: 10px 10px 10px 25px;
  border-bottom: 2px solid #e4e8ee;
  
}
aside.sidebar .menu .nav-list .nav-item:last-child {
  margin: 0;
  padding: 10px 10px 10px 25px;
  border-bottom: none;
}

aside.sidebar  .link-aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
aside.sidebar .menu .nav-list .nav-item .lateral-nome {
  width: 90%;
  margin-left: 2%;
  color: #515365;
  font-weight: 700;
}
aside.sidebar .menu .nav-list .nav-item div.lateral-lista-filho {
  border-left: 3px solid #e4e8ee;
  padding-left: 5px;
  margin-right: 5px;
 
}
aside.sidebar .menu li.nav-item:hover {
  background-color: rgba(81,83,101,0.15);
  text-decoration: none;
}
  /* 48em = 768px */


  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }